<navigacija></navigacija>

<div class="container">
  <glava vsebina="vm.glavaStrani"></glava>
  
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <label for="filter">Filtriranje lokacij</label>
      <input id="filter" type="text" name="filter" ng-model="vm.pod">
      <br>
      <label for="ocena">Filtriranje ocen</label>
      <select id="ocena" name="ocena" ng-model="vm.izbranaOcena"
      class="form-control input-sm">
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
      </select>
      <div class="error">{{ vm.sporocilo }}</div>
      <div class="row list-group">
        <div class="col-xs-12 list-group-item" ng-repeat="lokacija in vm.data.lokacije | filter: vecjeKot(vm.izbranaOcena) track by $index">
          <h4>
            <a href="/lokacija/{{ lokacija._id }}">{{ lokacija.naziv }}</a>
            <small prikazi-oceno ocena="lokacija.ocena"></small>
            <span class="badge pull-right badge-default">{{ lokacija.razdalja | formatirajRazdaljo }}</span>
          </h4>
          <p class="address">{{ lokacija.naslov }}</p>
          <p>
            <span class="label label-warning lastnost" ng-repeat="lastnost in lokacija.lastnosti track by $index">{{ lastnost }}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <p class="lead">{{ vm.stranskaOrodnaVrstica }}</p>
    </div>
  </div>
  
  <noga></noga>
</div>